@import 'base';
/* 变量 */
// 导航栏
$navbar-height: 0px;
$navbar-padding: 13px;
$footer-height: 50px;

body {
  @include no-around-space();

  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  overflow: hidden;
  background-color: black;
}

.hide {
  display: none !important;
}

.logo-line {
  position: absolute;
  z-index: 2;

  padding: 7px;

  img {
    width: 55px;
  }

  span {
    color: white;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-left: 7px;
  }
}

.swiper-container {
  color: #fff;
  text-align: center;

  position: absolute;
  top: $navbar-height;
  left: 0;
  right: 0;
  bottom: 0;
}

.page {
  position: relative;
  img {
    width: 100%;
  }

  .words {
    position: absolute;
//    top: 50%;
//    bottom: 50px;
    left: 0;
    width: 100%;

    img {
      width: 100%;
    }

    opacity: 0;
  }
  .words.show {
    -webkit-transition: all 0.7s ease-out;
//    -webkit-transition-delay: 0.5s;
    -webkit-transform: translate3d(0, -30px, 0);
    opacity: 1;
  }
}

// 下一页图标
.next-page-wraper {
  width: 100%;
  position: absolute;
  bottom: 57px;
  text-align: center;
  z-index: 2;

  .next-page {
    width: 100px;
    height: 30px;
    display: inline-block;
    padding-bottom: 27px;
    -webkit-background-size: 100%;
    background-size: 100%;

    -webkit-background-image: url("img/slideup.png");
    background-image: url("img/slideup.png");

    -webkit-background-repeat: no-repeat;
    background-repeat: no-repeat;

    background-position: center bottom;
    -webkit-background-position: center bottom;
  }
}

// 表格页
.form-page {
  @include flex-layout(column, center, center);
  position: relative;
  width: 100%;
  min-height: 430px;
  height: 100%;
//  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#aaa));
  background-color: black;

  .title-area {
    @include flex-layout(row, flex-start, center);
    margin-bottom: 30px;
    width: 280px;
    color: #eee;
    text-align: left;

    p {
      margin: 0;
      padding: 0;
      font-size: 16px;
      color: #eee;
    }

    .attention {
      color: yellow;
      font-size: 13px;
    }
  }

  .form-title {
    color: #444;
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  .form-list {
    @include simple-list();

    li {
      text-align: left;
      width: 280px;
      margin-bottom: 15px;

      input[type=text], input[type=tel] {
        @include box-sizing(border-box);
        width: 100%;
        padding: 0;
        padding-left: 3px;
        font-size: 18px;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 2px;
      }
    }

    li.sex-line {
      label {
        margin-right: 20px;
        font-size: 19px;

        input[type=radio] {
          margin-right: 5px;
        }
      }
    }

    // 标题列
    li.title-item {
      font-size: 18px;
      color: black;
      margin-bottom: 30px;

      p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        color: #4c4c4c;
      }

      span {
        color: #d40e16;
        font-size: 24px;
        vertical-align: middle;
        font-weight: bolder;
      }
    }

    // 按钮列
    li.btn-item {
      button {
        width: 100%;
        height: 46px;
        border: 0;
        font-size: 24px;
        color: white;
      }

      .submit-btn {
        margin-top: 20px;
        background-color: #d40e16;
      }

      .back-btn {
        background-color: #777;
      }
    }
  }
}

.bottom-float {
  height: $footer-height;
  position: fixed;
  left: 0;
  bottom: 0;

  width: 100%;
  z-index: 5;

  @include flex-layout(row, flex-start, center);

  .cutting-line {
    display: inline-block;
    border-left: 1px #999 solid;
    height: $footer-height - 20;
  }

  a {
    -webkit-user-select: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;

    display: inline-block;
    height: 100%;
    //    background-color: coral;
    text-align: center;
    line-height: $footer-height;

    @include flex(1);
  }

  a.call {
    img {
      width: 34px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  a.bottom-book, a.bottom-cancel {
    img {
      width: 34px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .footer-backdrop {
    @include full-screen();
    z-index: -1;

    background-color: black;
    opacity: 0.7;
  }
}