body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

body {
  overflow: hidden;
  background-color: gray;

  /*background-image: url("1.jpg");*/
  background-size: 100%;
}

.swiper-container {
  color: #fff;
  text-align: center;
}

.navbar {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;

  flex-direction: row;
  justify-content: space-between;

  height: 70px;
  line-height: 70px;
  background-color: white;

  padding-left: 13px;
  padding-right: 13px;
}

.swiper-container {
  position: absolute;
  top: 70px;
  /*top: 0px;*/
  left: 0;
  right: 0;
  bottom: 0;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.book span {
  line-height: normal;
  font-size: 16px;
  color: #666;

  padding-top: 5px;
}

.logo {
  vertical-align: middle;
}

.chapter {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("background.jpg");
  background-size: 100%;
}

.backdrop1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: white;
  z-index: 0;
  opacity: 0.5;
}

.backdrop2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: black;
  z-index: 0;
  opacity: 0.3; 
}

.backdrop3 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: black;
  z-index: 0;
  opacity: 0.8;
}

.vedio-backdrop {
  display: none;
  z-index: 3;

  opacity: 0.7;
}

.content-area {
  z-index: 1;
}

.main-title {
  display: inline-block;

  width: 270px;
  height: 147px;
}

.car {
  display: inline-block;

  width: 234px;
  height: 224px;
}

.detail {
  position: relative;
}

.vedio-btn {
  position: absolute;
  width: 97%;
  height: 94px;
  z-index: 1;
}

.vedio-btn1 {
  top: 109px;
  left: 0;
}

.vedio-btn2 {
  top: 214px;
  left: 5px;
}

.detail img {
  display: inline-block;

  width: 290px;
  height: 420px;
}

.form-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-list li {
  text-align: left;
  width: 280px;

  margin-bottom: 19px;
}

.form-list li label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form-list li label span {
  font-size: 22px;

  vertical-align: middle;
}

.form-list li label input {
  flex: 1;
  font-size: 18px;
}

.form-list li.title-item {
  font-size: 18px;
  color: #b3b3b3;
  margin-bottom: 33px;
}

.title-item p {
  margin: 0;
}

.title-item span {
  color: white;
  font-size: 24px;
}

.btn-item {
  margin-top: 40px;
}

.submit-btn {
  width: 100%;
  height: 46px;
  background-color: #d40e16;
  border: 0;
  font-size: 24px;
  color: white;
}

.form-title {
  margin-bottom: 14px;
}

.form-title img {
  width: 152px;
}

.next-page-wraper {
  width: 100%;
  position: absolute;
  bottom: 7px;
  text-align: center;
  z-index: 2;
}

.next-page {
  display: inline-block;

  padding-bottom: 27px;
  background-size: 55%;
  background-image: url("down.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}