<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>福特福睿斯体验中心</title>
  <link rel="stylesheet" href="bower_components/swiper/dist/idangerous.swiper.css">
  <link rel="stylesheet" href="source/main.css">

  <!-- Tag Manager -->
  <script>
    (function(a, b, c, d, e, f) {
      a[d] = a[d] || [];
      var g = a[e] = a[e] || {};
      a.tagmangerGlobalObject = e, g[f] = {dlName: d};
      var h = b.getElementsByTagName(c)[0], i = b.createElement(c);
      i.async = !0, i.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://static') + '.tagmanager.cn/boot/' + f + '.js', h.parentNode.insertBefore(i, h)
    })(window, document, 'script', 'TGDataLayer', 'tagmanager', 10027);
  </script>
  <!-- End Tag Manager -->
</head>
<body>
<!-- 漂浮的logo -->
<div class="logo-line">
  <div class="justgo-logo">
    <img src="img/logo.png"/>
    <p>进无止境</p>
  </div>
  <span>福特福睿斯</span>
</div>

<!-- 内容页 -->
<div class="swiper-container">
  <div class="swiper-wrapper">

    <div class="swiper-slide page">
      <a class="enter-ford" href="http://m.escort.ford.com.cn/index.html" sf-log="进入官网">
        <div></div>
        <span>进入官网</span>
      </a>
      <img src="img/00.jpg">
      <div class="next-page-wraper">
        <span class="next-page">
        </span>
      </div>
    </div>

    <div class="swiper-slide page form-part">
      {% include "_components/bookForm/bookForm.html" %}
    </div>

  </div>
</div>

{% include "_components/bottomFloat/bottomFloat.html" %}

<!-- 监测代码part1 -->
<script type="text/javascript">
  (function() {
    window._CiQ10412 = window._CiQ10412 || [];
    window._CiQ10412.push(['_cookieUseRootDomain', true]);
    var c = document.createElement('script');
    c.type = 'text/javascript';
    c.async = true;
    c.charset = 'utf-8';
    c.src = '//collect.cn.miaozhen.com/ca/10412';
    var h = document.getElementsByTagName('script')[0];
    h.parentNode.insertBefore(c, h);
  })();
</script>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/swiper/dist/idangerous.swiper.min.js"></script>
<script src="bower_components/sf-log/dist/sfLog.js"></script>

<script src="source/main.js"></script>

<!-- 监测代码part2 -->
<script>
  function ___log(label) {
    window._CiQ10412 = window._CiQ10412 || [];
    window._CiQ10412.push(['_trackEvent', {
      type: 3,
      labels: [{'按钮名称': label}],
      values: [{'数量':1}]
    }]);
    window.CClickiV3 && window.CClickiV3[10412] && window.CClickiV3[10412]._flushObserver(function(){});
  }
</script>
<!-- 统计ip -->
<script>
  jQuery(function($){
    var url = 'http://chaxun.1616.net/s.php?type=ip&output=json&callback=?&_='+Math.random();
    $.getJSON(url, function(data){
      window._shunfei.userIp = data.Ip;
    });
  });
</script>

</body>
</html>