@import '../../bower_components/scss-lib/base';
/* 变量 */
// 导航栏
$navbar-height: 0px;
$navbar-padding: 13px;
$footer-height: 50px;

body {
  @include no-around-space();

  font-family: "微软雅黑", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  overflow: hidden;
  background-color: black;
}

.hide {
  display: none !important;
}

.logo-line {
  @include flex-layout(row, center, center);
  position: absolute;
  z-index: 2;

  padding: 10px;

  span {
    color: white;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-left: 7px;
  }

  .justgo-logo {
    @include flex-layout(column, center, center);

    img {
      width: 55px;
    }

    p {
      margin: 0;
      padding-top: 3px;
      font-size: 10px;
      color: white;
    }
  }
}

.enter-ford {
  display: inline-block;
  position: absolute;
  color: white;
  right: 10px;
  top: 10px;
  height: 30px;
  width: 80px;
  line-height: 30px;
  text-decoration: none;
  z-index: 1;

  div {
    @include backdrop(black, 0.5, -1);
  }

  span {
    color: #eee;
  }

}

.back2top {
//  display: block;
//  position: absolute;
//  top: 0;
//  right: 0;
//
//  border: none;
//  color: #e45050;
//  margin: 5px 10px;
//  background: initial;
//  font-size: 18px;
}
