/* 全局方法 */
/* 变量 */
body {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  overflow: hidden;
  background-color: black; }

.hide {
  display: none !important; }

.logo-line {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  padding: 10px; }
  .logo-line span {
    color: white;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-left: 7px; }
  .logo-line .justgo-logo {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center; }
    .logo-line .justgo-logo img {
      width: 55px; }
    .logo-line .justgo-logo p {
      margin: 0;
      padding-top: 3px;
      font-size: 10px;
      color: white; }

.enter-ford {
  display: inline-block;
  position: absolute;
  color: white;
  right: 10px;
  top: 10px;
  height: 30px;
  width: 80px;
  line-height: 30px;
  text-decoration: none;
  z-index: 1; }
  .enter-ford div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    z-index: -1; }
  .enter-ford span {
    color: #eee; }

.bottom-float {
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center; }
  .bottom-float .cutting-line {
    display: inline-block;
    border-left: 1px #999 solid;
    height: 30px; }
  .bottom-float a {
    -webkit-user-select: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    display: inline-block;
    height: 100%;
    text-align: center;
    line-height: 50px;
    flex: 1;
    -webkit-flex: 1; }
  .bottom-float a.call img {
    width: 34px;
    vertical-align: middle;
    margin-right: 5px; }
  .bottom-float a.bottom-book img, .bottom-float a.bottom-cancel img {
    width: 34px;
    vertical-align: middle;
    margin-right: 5px; }
  .bottom-float .footer-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: black;
    opacity: 0.7; }

.form-page {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 430px;
  height: 100%;
  background-color: black; }
  .form-page .title-area {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 30px;
    width: 280px;
    color: #eee;
    text-align: left; }
    .form-page .title-area p {
      margin: 0;
      padding: 0;
      font-size: 16px;
      color: #eee; }
    .form-page .title-area .attention {
      color: yellow;
      font-size: 13px; }
  .form-page .form-title {
    color: #fff;
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 20px; }
  .form-page .form-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .form-page .form-list li {
      text-align: left;
      width: 280px;
      margin-bottom: 15px; }
      .form-page .form-list li input[type=text], .form-page .form-list li input[type=tel] {
        -moz-box-sizing: border-box;
        /* Firefox 1, probably can drop this */
        -webkit-box-sizing: border-box;
        /* Safari 3-4, also probably droppable */
        box-sizing: border-box;
        /* Everything else */
        width: 100%;
        padding: 0;
        padding-left: 3px;
        font-size: 18px;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 2px; }
    .form-page .form-list li.city-line {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center; }
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        .form-page .form-list li.city-line {
          /*safari and chrome*/ }
          .form-page .form-list li.city-line select {
            height: 40px;
            line-height: 40px;
            background: #f4f4f4;
            width: 135px;
            font-size: 20px; } }
    .form-page .form-list li.get-50rmb {
      font-size: 14px;
      color: #fff; }
      .form-page .form-list li.get-50rmb span {
        color: #e45050; }
      .form-page .form-list li.get-50rmb a {
        color: #e45050;
        font-size: 10px; }
    .form-page .form-list li.agree-line {
      color: #aaa; }
      .form-page .form-list li.agree-line input {
        vertical-align: top; }
      .form-page .form-list li.agree-line p {
        display: inline-block;
        width: 250px;
        margin-top: 0;
        font-size: 13px; }
        .form-page .form-list li.agree-line p span {
          color: #e45050; }
    .form-page .form-list li.title-item {
      font-size: 18px;
      color: black;
      margin-bottom: 30px; }
      .form-page .form-list li.title-item p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        color: #4c4c4c; }
      .form-page .form-list li.title-item span {
        color: #d40e16;
        font-size: 24px;
        vertical-align: middle;
        font-weight: bolder; }
    .form-page .form-list li.btn-item button {
      display: block;
      width: 100%;
      height: 46px;
      border: 0;
      font-size: 24px;
      color: white;
      margin-bottom: 10px; }
    .form-page .form-list li.btn-item .submit-btn {
      margin-top: 10px;
      background-color: #d40e16; }
    .form-page .form-list li.btn-item .back2top {
      background-color: #777; }

.swiper-container {
  flex: 1;
  -webkit-flex: 1;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0; }

.page {
  position: relative; }
  .page img {
    width: 100%; }
  .page .words {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0; }
    .page .words img {
      width: 100%; }
  .page .words.show {
    -webkit-transition: all 0.7s ease-out;
    -webkit-transform: translate3d(0, -30px, 0);
    opacity: 1; }

.next-page-wraper {
  width: 100%;
  position: absolute;
  bottom: 57px;
  text-align: center;
  z-index: 2; }
  .next-page-wraper .next-page {
    width: 100px;
    height: 30px;
    display: inline-block;
    padding-bottom: 27px;
    -webkit-background-size: 100%;
    background-size: 100%;
    -webkit-background-image: url("../img/slideup.png");
    background-image: url("../img/slideup.png");
    -webkit-background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-position: center bottom; }

.sf-modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  color: black; }
  .sf-modal .sf-modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.6;
    z-index: -1; }
  .sf-modal .sf-modal-box {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 280px;
    border: 1px #777 solid;
    border-radius: 3px;
    background: #fff; }
  .sf-modal .sf-modal-header {
    width: 100%; }
    .sf-modal .sf-modal-header h3 {
      margin: 0;
      padding: 5px; }
  .sf-modal .sf-modal-close {
    border: 0;
    padding: 0 3px;
    background: white;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2; }
  .sf-modal .sf-modal-content {
    text-align: left; }
    .sf-modal .sf-modal-content p {
      margin: 0;
      padding: 5px; }
    .sf-modal .sf-modal-content h4 {
      margin: 0;
      padding: 5px; }
    .sf-modal .sf-modal-content ol {
      margin: 0;
      padding: 0 5px 10px 23px;
      font-size: 10px; }
